:host {
  display: flex;
  width: 30rem;
  background-color: #4d4d4d;
  font-family: "lato", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9em;
  font-weight: bold;
  h1 {
    width: 100%;
  }
}
