:host {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.question {
  display: flex;
  flex-direction: column;
  font-family: "lato", sans-serif;
  background-color: #ffffff;
  padding: 1.2rem;
  box-shadow: 0 0 4px -1px rgba(88, 88, 88, 0.388); /* All the borders by using the spread properties */

  color: #3c5168;
  gap: 0.6rem;

  &-input {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}

.dependantQuestion{
  display: flex;
  flex-direction: column;
  font-family: "lato", sans-serif;
  background-color: #ffffff;
margin-top: 1.5rem;
  color: #3c5168;
  gap: 0.6rem;
}

.hs {
  label {
    display: flex;
    gap: 0.6rem;
    font-size: 1rem;

    input[type="radio"] {
      border: 1px solid #b5b5b5;
      width: 1.2rem;
      height: 1.2rem;
      padding: 0.2rem;
      background-clip: content-box;
      border-radius: 50%;
      -webkit-appearance: none;
    }
    input[type="radio"]:checked {
      background-color: #3c5168;
      border: 1px solid #3c5168;
    }

    input[type="radio"]:focus {
      outline-color: transparent;
    }
  }
}

.medium {
  label {
    color: #5ab2e4;
    font-weight: bold;
    display: flex;
    gap: 0.6rem;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 8px;
    span {
      z-index: 2;
    }
    input[type="radio"] {
      top: 0;
      left: 0;
      z-index: 1;
      position: absolute;
      border: 1px solid #5ab2e4;

      height: 100%;

      width: 100%;
      border-radius: 0.2rem;
      -webkit-appearance: none;
    }
    input:checked + span {
      color: #ffffff;
    }
    input:checked {
      background-color: #5ab2e4;
    }
  }
}

.dropdown {
  margin-top: 0.2rem;
  label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-size: 0.9rem;
    select {
      font-family: "lato";
      font-size: 1.1rem;
      padding: 0.2rem 0.5rem;
    border-color: #3c516855;
    border-radius: 0.2rem;
    background-color: transparent;
    }
  }
}
