:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.sections {
  margin-top: 2rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 720px) {
    .sections{

        width: 22rem;
    }
}
