<div class="section" [ngClass]="sectionSelectedClass()">
  <div class="section-container" (click)="questionsActive = !questionsActive">
    <h2 class="section-container__number">{{ sectionNumber }}</h2>
    <div class="section-container__info">
      <h4>{{ sectionInfo?.name }}</h4>
      <ng-container *ngIf="!questionsActive; else alternativeContent">
        <p>
          Total questions: {{ sectionInfo?.totalQuestions }},
          <span>answered: {{ answeredLabel }}</span>
        </p>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="!questionsActive; else questionsTmp"> </ng-container>
</div>

<ng-template #questionsTmp>
  <div class="section-container__questions">
    <app-question
      *ngFor="let question of questions; let indexQuestion = index"
      [sectionNumber]="sectionNumber"
      [index]="indexQuestion + 1"
      [type]="question.type"
      [questionInfo]="question"
      [totalQuestions] = "questions?.length || 0"
    ></app-question>
  </div>
</ng-template>
<ng-template #alternativeContent>
  <p>
    <b>{{ answeredLabel }}</b> of
    {{ sectionInfo?.totalQuestions }}
  </p>
</ng-template>
